ul {
  list-style: none;
  padding: 0;
}
img {
  width:10vw;
  height:10vw;
}
.imageCard p {
  font-size:5px;
}
.scoreBoard {
  display:flex;
  gap:12px;
  justify-content: center;
  align-content: center;
}
.cardList {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.imageCard {
  display:flex;
  width: 1fr;
  height: 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}